* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

.page-wraper {
    max-width: 1200px;
    margin: 0 auto;
}

.single-blog-card {
    background-color: #e8f0ee;
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.25);
}

.single-blog-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.single-blog-text {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
}
